In [1]:
import pandas as pd

In [14]:
rain_probability = pd.read_csv(
    "./data/forecast_data/rain_probability.csv", encoding="cp949"
)
rain_probability.head(10)

   format: day   hour  forecast  value  location:60_127 Start : 20240101
0           11  200.0       6.0                                      30.0
1           11  200.0       7.0                                      30.0
2           11  200.0       8.0                                      30.0
3           11  200.0       9.0                                      30.0
4           11  200.0      10.0                                      30.0
5           11  200.0      11.0                                      30.0
6           11  200.0      12.0                                      30.0
7           11  200.0      13.0                                      30.0
8           11  200.0      14.0                                       0.0
9           11  200.0      15.0                                       0.0

In [15]:
rain_1hour = pd.read_csv("./data/forecast_data/rain_1hour.csv", encoding="cp949")
rain_1hour.head(10)

   format: day   hour  forecast  value  location:60_127 Start : 20240101
0            1  200.0       6.0                                       0.0
1            1  200.0       7.0                                       0.0
2            1  200.0       8.0                                       0.0
3            1  200.0       9.0                                       0.0
4            1  200.0      10.0                                       0.0
5            1  200.0      11.0                                       0.0
6            1  200.0      12.0                                       0.0
7            1  200.0      13.0                                       0.0
8            1  200.0      14.0                                       0.0
9            1  200.0      15.0                                       0.0

In [16]:
temp_1hour = pd.read_csv("./data/forecast_data/temp_1hour.csv", encoding="cp949")
temp_1hour.head(10)

/var/folders/8d/3mqplh8s49z7d_gjlcf8t9pr0000gn/T/ipykernel_32122/897933515.py:1: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_1hour = pd.read_csv("./data/forecast_data/temp_1hour.csv", encoding="cp949")

   format: day   hour forecast value  location:60_127 Start : 20240101
0            1  200.0      6.0                                      5.0
1            1  200.0      7.0                                      4.0
2            1  200.0      8.0                                      3.0
3            1  200.0      9.0                                      3.0
4            1  200.0     10.0                                      3.0
5            1  200.0     11.0                                      3.0
6            1  200.0     12.0                                      3.0
7            1  200.0     13.0                                      3.0
8            1  200.0     14.0                                      3.0
9            1  200.0     15.0                                      2.0

In [17]:
temp_max = pd.read_csv("./data/forecast_data/temp_max.csv", encoding="cp949")
temp_max.head(10)

   format: day  hour forecast value  location:60_127 Start : 20240101
0           15  0200       +6                                1.000000
1           15  0200       +7                                4.000000
2           15  0200       +8                                4.000000
3           15  0500       +6                                4.000000
4           15  0500       +7                                4.000000
5           15  0800       +6                                4.000000
6           15  0800       +7                                4.000000
7           15  0800       +8                                7.000000
8           15  1100       +6                                4.000000
9           15  1100       +7                                4.000000

In [18]:
temp_min = pd.read_csv("./data/forecast_data/temp_min.csv", encoding="cp949")
temp_min.head(10)

   format: day    hour  forecast  value  location:60_127 Start : 20240101
0            1   200.0       6.0                                       2.0
1            1   200.0       7.0                                       0.0
2            1   500.0       6.0                                       2.0
3            1   500.0       7.0                                       0.0
4            1   800.0       6.0                                       2.0
5            1   800.0       7.0                                       0.0
6            1   800.0       8.0                                      -4.0
7            1  1100.0       6.0                                       2.0
8            1  1100.0       7.0                                       0.0
9            1  1100.0       8.0                                      -4.0

In [19]:
hisorical = pd.read_csv("./data/historical_data/historical.csv", encoding="cp949")
hisorical.head(10)

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),일강수량(mm)
0,108,서울,2024-10-27,16.0,14.0,2400,18.8,1314,0.0
1,108,서울,2024-10-28,15.7,12.3,416,20.4,1504,0.0
2,108,서울,2024-10-29,15.0,13.4,504,18.3,1529,0.0
3,108,서울,2024-10-30,15.7,11.4,709,21.4,1405,NaN
4,108,서울,2024-10-31,15.9,11.0,714,22.6,1455,NaN
5,108,서울,2024-11-01,15.3,12.9,321,18.7,1454,NaN
6,108,서울,2024-11-02,18.1,13.0,658,25.1,1510,NaN
7,108,서울,2024-11-03,17.6,13.0,655,23.5,1347,0.0
8,108,서울,2024-11-04,14.8,8.9,2354,18.3,1228,0.1
9,108,서울,2024-11-05,9.1,5.6,737,14.7,1423,NaN